@page "/CreateAdministrativeGender"
@page "/EditAdministrativeGender/{Id:guid}"
@using HIS.AdministrativeGenders
@inject IAdministrativeGenderAppService AdministrativeGenderAppService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<Card>

    <CardBody>
        <CardTitle Size="5">@Title AdministrativeGender</CardTitle>

        <EditForm Model="AdministrativeGenderDto" OnValidSubmit="CreateAndUpdateAsync">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Description</label>
                        <InputText class="form-control" @bind-Value="AdministrativeGenderDto.Description"></InputText>
                        <div class="text-danger">
                            <ValidationMessage For="()=>AdministrativeGenderDto.Description"></ValidationMessage>
                        </div>
                    </div>
                </div>


                <div class="col-6">
                    <div class="form-group">
                        <label>Sequence</label>
                        <InputNumber class="form-control" @bind-Value="AdministrativeGenderDto.Sequence"></InputNumber>
                        <div class="text-danger">
                            <ValidationMessage For="()=>AdministrativeGenderDto.Sequence"></ValidationMessage>
                        </div>
                    </div>
                </div>

            </div>
            <Div Class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Comments</label>
                        <InputTextArea class="form-control" @bind-Value="AdministrativeGenderDto.Comments"></InputTextArea>
                    </div>
                </div>
            </Div>
            <div class="row">
                <div class="col-3">
                    <div class="form-check">
                        <InputCheckbox @onclick="@CheckBoxChanged" class="form-check-input isDefaultIndicator" @bind-Value="AdministrativeGenderDto.IsDefaultIndicator">

                        </InputCheckbox>
                        <label class="form-check-label">
                            IsDefaultIndicator
                        </label>
                    </div>
                    <div class="form-check">
                        <InputCheckbox class="form-check-input" @bind-Value="AdministrativeGenderDto.IsSystemIndicator">

                        </InputCheckbox>
                        <label class="form-check-label">
                            IsSystemIndicator
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">

                        <button @onclick="OnClickButton" class="btn btn-primary btnSubmitLookUpForm" type="submit">@Title</button>

                        <NavLink href="AdministrativeGenders" class="btn btn-secondary">Back</NavLink>
                    </div>
                </div>
            </div>
        </EditForm>

    </CardBody>
</Card>

<div class="modal fade isSystemIndicatorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">IsDefaultIndicator</h5>
                <button @onclick="BtnNoModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure to make this record as default selection ?
            </div>
            <div class="modal-footer">
                <button @onclick="BtnNoModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button @onclick="CreateAndUpdateAsync" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid? Id { get; set; }
    private AdministrativeGenderDto AdministrativeGenderDto { get; set; } = new AdministrativeGenderDto();
    public string Title { get; set; } = "Create";


    private async Task CheckBoxChanged()
    {
        await JSRuntime.InvokeVoidAsync("OnChangeCheckBoxIsDefaultIndicator");
    }

    private async Task OnClickButton()
    {
        await JSRuntime.InvokeVoidAsync("OnClickButton");
    }

    private async Task BtnNoModal()
    {
        await JSRuntime.InvokeVoidAsync("BtnNoModal");
    }

    private async Task BtnYesModal()
    {
        await JSRuntime.InvokeVoidAsync("BtnYesModal");
    }

    protected override async Task OnInitializedAsync()
    {

        await JSRuntime.InvokeVoidAsync("OnLoadPage");

        if (Id.HasValue)
        {
            Title = "Update";
            AdministrativeGenderDto = await AdministrativeGenderAppService.GetAsync(Id.Value);
        }
        else
        {
            AdministrativeGenderDto = new AdministrativeGenderDto();
        }
    }

    private async Task CreateAndUpdateAsync()
    {
        try
        {
            if (Id.HasValue && Title == "Update")
            {
                await JSRuntime.InvokeVoidAsync("BtnNoModal");
                await AdministrativeGenderAppService.UpdateAsync(Id.Value, AdministrativeGenderDto);
                await JSRuntime.ToastrSuccess("Operation is successfull");
                NavigationManager.NavigateTo("AdministrativeGenders");
            }
            else
            {
                await JSRuntime.InvokeVoidAsync("BtnNoModal");
                await AdministrativeGenderAppService.CreateAsync(AdministrativeGenderDto);
                await JSRuntime.ToastrSuccess("Operation is successfull");
                NavigationManager.NavigateTo("AdministrativeGenders");
            }
        }
        catch (Exception ex)
        {
               await JSRuntime.InvokeVoidAsync("BtnNoModal");
            await JSRuntime.ToastrError("Operation is failed");
            NavigationManager.NavigateTo("AdministrativeGenders");
        }

    }
}
